# Noudetaan rautatieasemien nimet dataframeen

In [15]:
import pandas as pd
import requests as req

In [19]:
url = 'https://rata.digitraffic.fi/api/v1/metadata/stations'

response = req.get(url)
data = response.json()
df = pd.DataFrame(data)
df = df[['stationName', 'stationShortCode']]
df.head()

  stationName stationShortCode
0     Ahonp채채              AHO
1     Ahvenus              AHV
2      Ainola              AIN
3   Airaksela              ARL
4  Aittaluoto              ATL

## Tallennus .csv-muotoon

In [20]:
df.to_csv('VR_traffic_points.csv', index=False)